main {
  padding: 1em;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 3rem;
}
p {
  text-align: center;
  margin-bottom: 70px;
  font-size: 1.8rem;
}

ul {
  list-style: none;
  font-size: 1.3rem;
}

h2 {
  margin-left: 2.13vw;
}
