<main>
  <h1>Benvenuto in epiCRM!</h1>

  <p>Qui puoi registrare, modificare e gestire comodamente i tuoi clienti e le loro fatture </p>


  <h2>Ricorda:</h2>
  <ul>
    <li>L'eliminazione di clienti e fatture è <strong>permanente</strong>.</li>
    <li>Per inserire nuove fatture entrare nell'elenco del relativo cliente. Il numero è un progressivo autogenerato ma
      modificabile.</li>
    <li>L'eliminazione di un cliente <strong>eliminerà</strong> conseguentemente anche <strong>tutte le relative
        fatture</strong>.</li>
  </ul>

</main>
